form .ant-select {
  width: auto!important;
}

.has-error .ant-select-selection {
  border-color: #d9d9d9!important;
}

.has-error .ant-calendar-picker-icon:after, .has-error .ant-cascader-picker-arrow, .has-error .ant-picker-icon:after, .has-error .ant-select-arrow, .has-error .ant-time-picker-icon:after {
  color: #d9d9d9!important;
}